[dir = 'rtl'].FR_Sec1 h6 {
    text-align: right;
}

[dir = 'rtl'].FR_Sec1 li {
    text-align: right;
}

[S_language = 'ara'].FR_Sec1_h6 {
    font-family: Noto Kufi Arabic;
}

[S_language = 'ur'].FR_Sec1_h6 {
    font-family: Noto Kufi Arabic;
}