[S_language = 'ara'].descp_h3 {
    font-family: Noto Kufi Arabic;
}

[S_language = 'ara'].descp_p {
    font-family: Noto Sans Arabic;
}

[S_language = 'ur'].descp_h3 {
    font-family: Noto Kufi Arabic;
}

[S_language = 'ur'].descp_p {
    font-family: Noto Sans Arabic;
}