.About_Main {
    height: fit-content;
    margin-bottom: 5em;
  }
  
.Abt_Main_Wrapper{
    width: 87%;
    overflow:hidden;
    height: fit-content;
    margin : auto;
    margin-top: 2vh ;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
   
}

.head_style_cs1{
  text-align: center;
  margin: 1em auto 0em auto;
  width: fit-content;
  color: black;
  font-family: Carme;
  font-weight: bold;
  font-size: 54px;
  line-height: auto;
  
}

.head_style_cs2{
  text-align: center;
  margin: 0em auto;
  width: fit-content;
  color: black;
  font-family: Carme;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.5em;
  
}


.Abt_Main_Wrapper p {
  text-align: center;
  line-height: 4.5vh;
  color: black;
  font-family: Inter;
}

.Cotn_Btn {
  font-family: Inter;
  color: #fff !important;
  background-color: #3a9bdc;
  border-radius: 1em;
  margin: auto;
  padding: 1em;
  width: fit-content;
}

.Abt_Main_Teams_Cards {
  text-align: center;
  width: 100%;
  height: 13em;
}


.About_Main2 {
  height: fit-content;

}

.Abt_Main_Wrapper2{
  width: 87%;
  overflow:hidden;
  height: fit-content;
  margin : auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
 
}

.Card_rw {
  width: 87%;
  margin: auto;
}

.Card_bdy {
  text-align: center;
  width: fit-content;
  border: none;
  margin-top: 1em;
}

@media (max-width: 1400px) {

  .Abt_Main_Wrapper {
    width: 97%;
  }

  .Abt_Main_Wrapper2 {
    width: 97% ;
  }

  
  
}

@media (max-width: 1200px) {

  .Abt_Main_Wrapper {
    font-size: small;
   }

  .head_style_cs1 {
    font-size: 42px;
  }

  .head_style_cs2 {
    font-size: 42px;
  }

  .head_style {
    font-size: 42px;
    line-height: auto;
  }

  .highlight::before {
    height: 12px;
  }

  .Abt_Main_Teams_Cards {
    width: 100%;
    height: 15em !important;
  }

  .Abt_Inherit_Txt {
    font-size: medium;
  }

  .Abt_Sb_Inherit_Txt {
    font-size: small;
  }

  .Card_rw {  
    margin: auto;
  }

  .Avatr_Ds {
    height: 200px;
    width: 100%;
  }
 
}

@media (max-width: 768px) {

  .head_style_cs1 {
    font-size: 30px;
  }

  .head_style_cs2 {
    font-size: 30px;
  }

  .head_style {
    font-size: 30px;
    line-height: auto;
  }

  .highlight::before {
    height: 9px;
  }
  
  .Abt_Main_Teams_Cards {
    text-align: center;
    width: 100%;
    height: fit-content !important;
  }

  .Avatr_Ds {
    height: 190px;
    width: 100%;
  }

  .Card_clm {
    width: fit-content;
    margin: auto;
  }

}

@media (max-width: 576px) {
  .Avatr_Ds {
    height: 220px;
    width: 100%;
  }

  .Card_clm {
    width: fit-content;
    margin: auto;
  }
  
}


