#Gradient_Home {
    height: 76vh;

  }
  
.Banner_Wrapper{
    max-width: 86%;
    overflow:hidden;
    height: 74vh;
    margin : auto;
    margin-top: 5.5rem ;
    background : var(--Main_Grad);
    border-radius: 1em;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.BW_Data-left {
  display: flex;
  flex-direction: column;
  width: auto;
}

.Item__1{
  margin-top: 7vh;
  margin-right: 2vw;
  margin-left: 2vw;
  width: auto;
  height: auto;
}

.Item__1 h1{
  color: #00493E;
  font-family: Carme;
  font-weight: bold;
  font-size: 2.9em;
  
}

.Item__2{
  margin-top: 4vh;
  margin-left: 2.3vw;
  margin-right: 2.3vw;
  width: fit-content;
  height: fit-content;
}

.Item__2 p{
  color : #2D2E2E;
  font-size: 1.1em;
  font-family: Inter;
  text-align: justify;
}

.Item__3{
  margin-block-start: 4vh;
  margin-left : 2vw;
  margin-right: 2vw;
  border: 1px ;
}

.BANR_INF_BTN{
  animation: bounceIn;
  animation-duration: 2s;
  overflow: hidden;
  padding: 1vh 1vw 1vh 1vw;
  border-style: solid;
  border-width: 0px 0px 1.5px 0px;
  color : #00493E;
  font-family: Carme;
  font-size: 30px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent; 
  background : transparent;
  transition: border-width 0.1s ease-in;
}


.BANR_INF_BTN:hover{
  -webkit-text-fill-color :#fff;
  border-width: 0px 0px 2.5px 0px;
}

.BW_Data-right {
  width: fit-content;
  display: flex;
  align-items: center;

}

.Item__4{
  overflow: hidden;
  width: 26vw;
  aspect-ratio: 1/0.9;  
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
  background-color: #fff;
  margin-left: 2vw; 
}

[dir = 'rtl'].Item__4 {
  margin-left: 0;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
}

.Item__4 img{
  animation: bounceInRight;
  animation-duration: 1.5s;
  padding: 8px;
  height: 100%;
  width: 100%;
  }

@media (max-width:1400px) {
    .Banner_Wrapper{
      max-width: 97%;
    }
  }

@media (max-width:1200px) {

    #Gradient_Home {
        height: fit-content;
      }
      
    .Banner_Wrapper{
      max-width: 97%;
      height: fit-content;
    }
      
    .Item__1{
      margin-top: 6.5vh;
      margin-left: 1.5vw;
    }
    
    .Item__1 h1{
      font-size: 2.2em;    
    }
    
    .Item__2{
      margin-top: 3.5vh;
      margin-left: 1.5vw;
    }
    
    .Item__2 p{
      font-size: 1em;/* Changed*/
    }
    
    .Item__3{
      margin-block-start: 3.5vh;
      margin-left : 1.5vw;
      padding-bottom: 7em;
    }
    
    .BANR_INF_BTN{
      font-size: 26px;
    }
    
  }

@media (max-width:768px) {
  #Gradient_Home {
    height: fit-content;
  }
  
.Banner_Wrapper{
  width: 97%;
  height: fit-content;
  flex-direction: column;
}
  
.Item__2{
  margin-top: 3.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.Item__3{
  z-index: 2;
  padding-bottom: 1em;
}

.BANR_INF_BTN{
  font-size: 24px;
}

.BW_Data-right {
  width: auto;
  justify-content: right;
}

[dir = 'rtl'].BW_Data-right {
  justify-content: left;
}

.Item__4{
  border-top-left-radius: 5em;
  border-bottom-left-radius: 0em;
  width: fit-content;
  height: fit-content;
  
}

[dir = 'rtl'].Item__4{
  border-bottom-right-radius: 0;
}

.Item__4 img{
  height: 170px;
  width: 250px;
}
 
}






