#Info_Banner {
    margin-top: 3rem;
    height: fit-content;
    background-color: #fff;
}

.Info_Banner_Wrapr {
    height: 36.4vh;
    width: 87%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    align-items: center;
    justify-content: center;
    background: var(--Info_Grad);
    border-radius: 1em;
}

.description {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    width: 50%;
    height: auto;
}

.descp_h3 {

    font-family: Carme;
    font-size: 2em;
    color: #00E784;
}

.descp_p {

    font-family: Inter;
}

div.Info_Banner_Wrapr span img {
    padding: 4%;
    width: 100%;
    height: 95%;
}

.mb_img {
    background-color: #fff;
    width: 30%;
    height: 65%;
    border-radius: 30px;
}

@media (max-width: 1400px) {
    .Info_Banner_Wrapr {
        width: 97%;
    }
}

@media (max-width: 1200px) {

    .Info_Banner_Wrapr {
        height: 34.4vh;
    }

    .description {
        font-size: 1em;
    }

    .mb_img {
        width: 25%;
        height: 60%;
    }

    div.Info_Banner_Wrapr span img {
        padding: 5%;
        width: 100%;
        height: 99%;
    }

}

@media (max-width: 768px) {
    .Info_Banner_Wrapr {
        height: 38.4vh;
        flex-direction: column;
    }

    .description {
        width: 100%;
        height: fit-content;
    }

    .description h3 {
        padding-top: 0.5em;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .description p {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .mb_img {
        width: 50%;
        height: fit-content;
        padding-bottom: 1em;
    }

    div.Info_Banner_Wrapr span img {
        padding: 6%;
        width: 100%;
        height: 130px;
    }

}