button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

button:focus, input:focus {
    outline: 0;
  }
  
/*------------Nav---------*/

.nav_wrapper

{
    overflow: visible;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: #fff;
}

#nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 86%;
    overflow: visible;
    height: 5em;
} 

.nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
}

.Scroll_border {
    box-shadow:  0px 0.5px 2px 0px rgba(0, 0, 0, 0.5);
}

.nav.left {
    width: auto;
    height: auto;
}

.Main_Logo {
    margin: auto 0;
    text-align: left;
    width: fit-content;
    font-family: Agbalumo;
}

.Main_Logo a {
    cursor: default;
   
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(185deg, var(--Prim), #00493E);
    font-size: 2.5em;
}

.nav-link{ 
    text-align: center;
    line-height: 4.5em;
    padding: 0 1em;
    font-family: Carme;
    font-weight: bold;
    
}

.nav-link:nth-child(2){
    margin-left: 8em;
}

.nav.right {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.Clapsed_Btn {
    background-color: none;
}


.App_Downld {
    border-radius: 0.7em;
    margin: 1.5em 1em;
    line-height: 2.5em;
    height: fit-content;  
    font-family: Inter;
    font-size: 0.9em;
    font-weight: 400;
    background-color: var(--Prim);
}

.App_Downld a{
    padding: 1em;
    color: var(--Fc) ;
    font-weight:bold;
}


@media (min-width : 1201px) {

    .btn-nav {
        display: none !important;
    }

    .Res_dropdown {
        display: flex;
        flex-direction: row;
    }

}

@media (max-width: 1400px) {
    #nav {
        width: 97%;      
    } 
    
}

@media (max-width : 1200px ) {
    .Res_dropdown{
        display: none !important;
    }

    #nav {
        width: 97%;      
    } 
    
    .nav.left {  
        width: auto;
    }
    
    .Main_Logo {
        text-align: left;        
    }

    .Main_Logo a {
        font-size: 2em;
    }
    
    .Logo_IMG {
        height: 3.5em;
        width: 3.5em;
    }
    
    .nav-link{ 
        display: none;
   }
     
    .nav.right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        width: auto;
        height: 100%;
    }
     

    .Clapsed_Btn {
        align-self: center;
    }

    .btn-nav {
        color: #00A896 ;
        padding-left: 0em;
        padding-right: 0.5em;
    }

    .Btn_Aniim {
        animation: jackInTheBox;
        animation-duration: 1s;
    }
    
}

@media (max-width : 992px ) {
    .Main_Logo a {
        font-size: 2em;
    }
}

@media (max-width : 768px ) {
    .Main_Logo a {
        font-size: 2em;
    }
}

@media (max-width : 576px ) {
    .nav.right {
        overflow: hidden;
    }
    .Main_Logo a {
        font-size: 1.8em;
    }
}