@media (min-width: 1201px) {
    .Nav_Menu {
        display: none !important;
    }
    
}

@media (max-width: 1200px) {
    .Nav_Menu {
        z-index: 100;
        overflow: hidden; 
        height: 100%;
        width: 100%;
        animation: slideInDown;
        animation-duration: 0.5s;
    }
    
}