:root{
    --Main_Grad : linear-gradient(to right, #005a9c, #004f93, #00448a, #003a81, #002f77, #002f76, #002e74, #002e73, #00377a, #004181, #004a86, #00538c);
    --Info_Grad :  linear-gradient(90deg, rgba(0,45,98,1) 0%, rgba(10,65,120,1) 40%, rgba(58,155,220,1) 100%);
}

body {
    caret-color: #3a9bdc;
    font-family: Inter;
    background-color: #fff;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

@font-face {
    font-family: Logo_Font;
    src: url(/src/Fonts/TakeLooks.otf);
  }
  
.head_style{
    text-align: center;
    margin: 1em auto;
    width: fit-content;
    color: black;
    font-family: Carme;
    font-weight: bold;
    font-size: 54px;
    line-height: 1.5em;
    
  }
  .highlight{
    position: relative;
  }
  
  .highlight::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 14px;
    width:100%;
    background-color: #3a9bdc;
    transform: translateY(-98%);
    z-index: -1;
  }

  .try_trans {
    transition: transform 0.35s;
}

.try_trans:hover{
    transform: translateY(-4px);
}

.Lst_Anim {
    position: relative;
    transition: all 0.35s;
}

.Lst_Anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #3a9bdc;
    transform-origin: bottom right;
    transition: transform 0.35s cubic-bezier(0.45, 0.58, 0.85, 0.85);
}

.Lst_Anim:hover{
    color: #3a9bdc;
}   
  
.Lst_Anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} 
