:root{
    --Main_Grad : radial-gradient(circle, #2AE8A0 50%, #9EEDED 100%);
    --Info_Grad : linear-gradient(90deg,  #00493E 40%, #00905E 100%);
    --Info_Grad2 : linear-gradient(120deg,  #00493E 5%, #00905E 100%);
    --Prim : #00E784;
    --Sec : #00493E;
    --Fc : #2D2E2E;

}

a {
    text-decoration: none;
}

hr {
    color: #00493E;
    background-color: #00493E;
    height: 5px;
}


label {
    font-weight: bold;
}

body {
    caret-color: var(--Prim);
    font-family: Inter;
    background-color: #fff;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

ul {
    padding: 0;
    list-style: none;
}

.btn-cstm {
   
    font-weight: bold ;
}

@font-face {
    font-family: Logo_Font;
    src: url(/src/Fonts/TakeLooks.otf);
  }
  
.head_style{
    text-align: center;
    margin: 1em auto;
    width: fit-content;
    color: var(--Sec);
    font-family: Carme;
    font-weight: bold;
    font-size: 54px;
    line-height: 1.5em;
    
  }
  .highlight{
    position: relative;
  }
  
  .highlight::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 14px;
    width:100%;
    background-color: var(--Prim);
    transform: translateY(-98%);
    z-index: -1;
  }

  .highlight2{
    position: relative;
  }
  
  .highlight2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width:100%;
    background-color: var(--Prim);
    transform: translateY(-98%);
    z-index: -1;
  }

  .try_trans {
    transition: transform 0.35s;
}

.try_trans:hover{
    transform: translateY(-4px);
}

.Lst_Anim {
    color: #3d4853;
    position: relative;
    transition: all 0.35s;
}

.Lst_Anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  var(--Prim);
    transform-origin: bottom right;
    transition: transform 0.35s cubic-bezier(0.45, 0.58, 0.85, 0.85);
}

.Lst_Anim:hover{
    color: var(--Prim);
}   
  
.Lst_Anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} 

.Lst_Anim2 {
    color: #63727e;
}

.Lst_Anim2:hover {
    color : #00c1a2
}