body {
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #007c78; /* Change the color to your desired color */
  border-radius: 5px;

}

::-webkit-scrollbar-track {
  background-color: #fff /* Change the color to your desired background color */
}

::-webkit-scrollbar {
  width: 8px; /* You can adjust the width as needed */
}

